doctype html(style='overflow:auto')
html
  head
    title #{ "Dash Payment" }
    link(rel='stylesheet', href='css/minimal.css') 
    link(rel='stylesheet', href='css/flipclock.css') 
    link(rel='stylesheet', href='css/bootstrap.css') 
    link(rel='stylesheet', href='css/loading-bar.css') 
    link(rel='stylesheet', href='css/main.css') 
    link(rel='stylesheet', href='css/animations.css') 
    link(rel='stylesheet', href='css/loading.css') 
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/flipclock.min.js')
    script(src='js/loading-bar.js')
    script(src='js/qrcode.js')
  body.body
