#mainback {
    background-image: url('/img/back1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mainmiddle {
    margin-top:30px;
    position: inherit;
}
div.imagelogo {
    content:url('/img/logoleft.png');
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
 }​

.flip-clock-dot.top {
top: 10px;
}

.flip-clock-dot.bottom {
bottom: 0;
top: 25px;
}

.flip-clock-dot{
width: 7px;
height: 7px;
}
.flip-clock-label{
display: none;
}

.flip-clock-divider {
    width: 17px;
    height: 45px;
    }

.flip-clock-wrapper ul {width: 30px;height: 49px;margin: 0 1px;}
.flip-clock-wrapper ul li {line-height: 49px;}
.flip-clock-wrapper ul li a div div.inn {border-radius: 2px;font-size: 35px; color: #052944; text-shadow: 0 1px 1px #555; background : whitesmoke;}
.flip-clock-wrapper ul li a div.down {border-bottom-left-radius: 1px; border-bottom-right-radius: 1px;}
.flip-clock-wrapper ul li a div.up:after {top: 23px;height: 1px;}
.flip-clock-dot
{
    background : whitesmoke;
}

#top{
    display: inline-flex;
    display: flex;
    justify-content: space-between;
}
.cost{
    color:#656565;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Latobold;
    text-align: -webkit-center;
    font-size: xx-large;
    font-weight:bold;
}
.costBs{
    color:#656565;
    margin-top: 0px; 
    margin-bottom: 0px;
    font-family: Latobold;
    text-align: -webkit-center;
    font-size: x-large;
}
.itemdesc{
    color:#656565;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Latobold;
    text-align: -webkit-center;
    font-size: large;
}
#RAddress{
    text-align: -webkit-center;
}
.row{
    display: block;
}
#mainHexButton{
    text-align: -webkit-center;
}

#HexButton{
    margin-top: 10px;
    display: inline-flex;
    }

#HexAddr{
    font-size: large;
    color:#656565;
    font-family: Latobold;
    width: 390px;
    background:none;
}
#bot{
padding-left: 20px;
border:none;
margin-top:5px;
padding-right: 0px;
background-repeat: no-repeat;
background-size: cover;
background-image: url( '/img/bot.png' );
background-size: 20px 25px;
}

#dashText,#dashHelp,#dashSupport{
    text-align: -webkit-center;
    
}

/*#dashSupport{
display: -webkit-inline-box;
}*/

.dashTextUp{
    content:url('/img/dashUp.png');
    width: 250px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.dashTextDown{
    content:url( '/img/dashDown.png' );
    width: 125px;
    height: 20px;
    margin-top: 5px;
}
.dashHelpUp{
    content:url('/img/helpUp3.png');
    width: 180px;
   /* height: 20px;*/
    margin-bottom: 0px;
    margin-top: 30px;
}
.dashHelpDown{
    content:url( '/img/helpDown.png' );
    margin-bottom: 0px;
    width: 250px;
    height: 20px;
    margin-top: 5px;

}
.dashSC{
    content:url('/img/SC.png');
    width: 110px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.dashSCPN{
        content:url('/img/PN.png');
        width: 110px;
        height: 20px;
        margin-bottom: 0px;
        margin-left: 10%;
        margin-bottom: 8px;
}
@font-face {
    font-family: "Latobold";
    src: url('/fonts/Lato-Bold-webfont.ttf') format("truetype");
}
p.customfont { 
    font-family: "Latobold", Verdana, Tahoma;
}

  .topdiv{
    position: absolute;
    z-index:3;
    width: 105%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.topdivchecked{
    position: absolute;
    z-index:3;
    margin-top: 25px;
    width: 105%;
    height: 31%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  .blurmed{
    filter: blur(5px);
    z-index:2;
  }

  #submit {
    background-image: url( '/img/submit.png' );
    background-repeat: no-repeat;
    border:none;
    margin-top:15px;
    padding-right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 63px;
}
#Success{
    width: 400px;
    height: 40px;
    animation-duration:1.0s;
    margin-top: 30px;
    margin-bottom: 30px;
    content:url('/img/success.png');
}
#DashCompleted{
    width:250px;
    height:250px;
    animation-duration:1.0;
    content:url('/img/check.png');
}
.totalmain{
    zoom:0.75;
}

.hideQR{
    visibility: hidden;
}

#time{
    width: 200px;
    height: 200px;
    color: #052944;
    font-family: "Latobold", Verdana, Tahoma;
    font-size: xx-large;
    padding:5px;
}

.countdown{
    height: 48px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 10px;
    background: #fcfcfc;
}
.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border:none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
}
.modal-body{
    padding: 0px;
}
  